@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
    PROJECT SECTION
----------------------------------------------------- */

#project1 {
    background: url(https://github.com/htmercury/google-homepage/blob/master/google-homepage-screenshot.jpg?raw=true);
    background-size: cover;
    background-position: center;
}

#project2 {
    background: url(https://github.com/htmercury/FCC-Tribute-Page/blob/master/FCC-Tribute-Page-Screenshot.jpg?raw=true);
    background-size: cover;
    background-position: center-top;
}

#project3 {
    background: url(https://github.com/htmercury/FCC-Random-Quote-Machine/blob/master/FCC-Random-Quote-Machine-Screenshot.png?raw=true);
    background-size: cover;
    background-position: center;
}

#project4 {
    background: url(https://github.com/htmercury/FCC-Weather-App/blob/master/FCC-Weather-App-Screenshot.png?raw=true);
    background-size: cover;
    background-position: center-bottom;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/*SCROLL BAR*/
#scrollbar {
    z-index: 3;
    margin-left: 105px;
    margin-right: 25px;
    margin-top: 5px;
    padding-top: 0;
    padding: 0 !important;
    transition: all 0.3s;
}

/*CONTENT*/
#content {
    z-index: 2;
    margin-left: 80px;
    background: lightgrey;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}

.tab { display:inline-block; 
    margin-left: 40px; }

.pages {
    margin: 0;
    width: 100%;
    padding: 6% 10% 0 10%;
    display: Inline-block;
    background: lightgrey;
    position: relative;
}

/*HOME*/
#home {
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 75vh;
    background-image: url("../images/unsplash_homescreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #f7f7f7 !important;
}

    #home > h4 {
        color: white;
    }

#typed-wrapper {
    height: 30px;
}

#status {
    opacity: 0;
}

#shortcut {
    text-align: center;
    font-size: 50px;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: blink 3.4s infinite;
}

    #shortcut > a > i:hover {
        opacity: 0.4;
    }

/*ABOUT*/
#about {
    color: white;
    background: #7f4c41;
}

    #about > p {
        text-align: justify;
        color: #fbcfc6;
        text-align: justify;
    }

    #about > div > div {
        text-align: center;
    }

        #about > div > div > p {
            color: #fbcfc6;
        }

            #about > div > div > p {
                text-align: justify;
                color: #fbcfc6;
            }
        #about > div > div > img {
            width: 250px;
            height: auto;
        }

        #about > div > div > ul {
            padding-left: 0;
            padding-right: 0;
        }

            #about > div > div > ul > li {
                display: inline;
                font-size: 1.1em;
            }

                #about > div > div > ul > li > a {
                    display: inline;
                    padding: 12px;
                    margin-right: 12px;
                }

#skill-list {
    font-size: 75px;
    text-align: center;
}

/*PORTFOLIO*/
#portfolio {
    color: #7f4c41;
    background: #f7f7f7;
    text-align: center;
}

    #portfolio > p {
        color: #945d52;
    }

#portfolio-btn-container {
    text-align: center;
}

#portfolio-btn {
    line-height: 1.5;
    border-radius: 300px;
    padding: 1rem 2rem;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: #7f4c41;
    font-size: 16px;
    letter-spacing: 0px;
    background-color: #f8f9fa;
}

    #portfolio-btn:hover {
        background-color: #e2e6ea;
    }

    #portfolio-btn:focus {
        outline: none;
    }

.project-container {
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: transform 0.2s;
    display: flex;
}

.project-links {
    text-align: center;
}

.project-btn {
    background: #ededed;
    color: #24292F;
    border: 1px solid black;
    margin: 5px;
}

.unfinished {
    background: #343131;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.project-desc {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
    display: none;
}

    .project-desc > h3 {
        color: #fbcfc6;
    }

    .project-desc > p {
        color: white;
    }

.project-btn:hover {
    background: #24292F;
    color: #ededed;
}

.project-container:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.6) inset;
}

.unfinished:hover {
    background: url(http://05ac63e63ea6fa4dc0c3f350.rnedjhejdcqoto.maxcdn-edge.com/wp-content/uploads/sites/9/2017/06/coming-soon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    boxshadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.3) inset;
}

.project-container:hover > .project-desc {
    display: block;
}

/*CONTACT*/
#contact > p {
    color: black !important;
}

#contact-row {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    #contact-row > li {
        display: inline-block;
        width: 50%;
    }

        #contact-row > li:hover {
            color: white;
        }

        #contact-row > li > a > i {
            margin-top: 5%;
            font-size: 25px;
        }

/* ---------------------------------------------------
    CUSTOM TYPED.JS CURSOR
----------------------------------------------------- */
/*Add custom cursor so it auto inherits font styles*/
.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
    opacity: 0;
    display: none;
}
/*Custom cursor animation*/
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    padding: 0 !important;
}

body {
    font-family: "Poppins", sans-serif;
    background: #333;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/*horizontal line rules*/
hr {
    height: 2px;
    background-color: #555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: rgba(52, 52, 54,0.2);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-nav > li > a {
    color: lightgrey !important;
}

    .navbar-nav > li > a:hover {
        color: white !important;
    }

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 180px;
    max-width: 180px;
    background: #343131;
    color: #fff;
    transition: all 0.3s;
    height: 100%;
    position: fixed;
}

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

        #sidebar.active .sidebar-header h3,
        #sidebar.active .CTAs {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active a[aria-expanded="false"]::before,
    #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #343131;
    }

        #sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    #sidebar ul.components {
        padding: 10px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #343131;
            background: #b3b3b3;
        }

        #sidebar ul li a i {
            margin-right: 10px;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #343131;
    }

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: "\e259";
    display: block;
    position: absolute;
    right: 20px;
    font-family: "Glyphicons Halflings";
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: "\e260";
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #343131;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386d5;
}

a.source,
a.source:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.toggle-btn {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

    .toggle-btn span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 1s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    }

        #sidebarCollapse span:first-of-type {
            /* rotate first one */
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse span:nth-of-type(2) {
            /* second one is not visible */
            opacity: 0;
        }

        #sidebarCollapse span:last-of-type {
            /* rotate third one */
            transform: rotate(-45deg) translate(1px, -1px);
        }

    #sidebarCollapse.active span {
        /* no rotation */
        transform: none;
        /* all bars are visible */
        opacity: 1;
        margin: 5px auto;
    }

.min-btn {
    margin: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.min-btn span {
    margin: 5px auto;
}

#name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#profile {
    height: auto;
    width: 95%;
    margin-left: 2%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }

        #sidebar.active {
            margin-left: 0;
            transform: none;
        }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }

        #sidebarCollapse.active span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse.active span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse.active span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
}

@media screen and (min-width: 20em) {
    #contact-row > li {
        width: 10%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-header {
        display: none;
    }
    .navbar {
        height: 60px;
    }
    #content {
        margin-left: 0;
    }
    #scrollbar {
        margin-left: 25px;
    }
    .min-btn, .nav li, .nav li a {
        display: inline;
    }
    .nav li a {
        top: 15px;
    }
}

@media only screen and (max-width: 410px) {
    .nav-link {
        display: none;
    }
}