@font-face {
  font-family: "Raleway";
  src: url("../../static/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../../static/Lato/Lato-Regular.ttf");
}

body,
body * {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #e5e5e5;
  position: relative;
  background: #10111a;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  text-decoration: none;
}
