@font-face {
  font-family: "Raleway";
  src: url("../../static/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../../static/Lato/Lato-Regular.ttf");
}

body,
body * {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #e5e5e5;
  position: relative;
  background: #10111a;
}
