@import "./colors";


.title-wrapper {
  padding: 5px 25px;
  text-align: left;
  user-select: initial;
  transition: filter 0.15s;
  border-radius: 5px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;

  .title {
    font-family: "Raleway", sans-serif;
    padding-top: 0;
    font-size: 2em;
    font-weight: 300;
    color: #e5e5e5;
    text-shadow: 2px 2px 4px black;
    user-select: initial;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .subtitle {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #d2d2d2;
    text-align: left;
    text-shadow: 2px 2px 4px black;
    user-select: initial;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}


.content {
  padding: 15px 25px;
  text-align: left;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
  user-select: initial;
  transition: filter 0.15s;
  background: #151724;
  border-radius: 5px;
  font-weight: 300;
  font-family: "Lato", sans-serif;

  a {
    font-weight: 700;
    text-decoration: none;
    color: #363f87;
    transition: color 0.15s;

    &:hover {
      color: #3d4899;
    }
  }

  > h1 {
    text-align: center;
    font-size: 2em;
    padding: 10px 5px 25px 0;
    margin: 0;
    border-bottom: 1px solid #272f62;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
  }

  > span {
    display: inline-block;
    padding: 20px 0;
    box-shadow: inset 0 18px 15px -20px #202650, inset 0 -18px 15px -20px #202650;
  }
}

.explore-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 20px 0;
  margin-bottom: 5px;

  > div {
    display: grid;
    justify-content: flex-start;
  }

  > div:first-child {
    display: grid;
    justify-content: flex-end;
  }

  a {
    text-decoration: none;

    button {
      min-width: 200px;
      max-width: 250px;
      font-family: "Lato", sans-serif;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      transition: background 0.1s, color 0.1s, fill 0.1s;
      width: 100%;

      color: #e5e5e5;
      font-weight: 300;
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);

      background: #363f87;

      &:hover {
        background: color(#363f87, 600);
      }
      &:active {
        background: color(#363f87, 300);
      }
      &.disabled {
        background: mix(#363f87, #333) !important;
        color: color(#e5e5e5, 100);
        cursor: default;

        & > svg {
          fill: color(#e5e5e5, 200);
        }
      }

      & > svg {
        fill: #e5e5e5;
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 520px) {
  .explore-content > div {
    justify-content: center !important;
  }
}
