@media (min-width: 768px) {
  .content,
  .wrapper {
    margin-left: 260px;
    min-height: 100vh;
    padding-bottom: 120px;

    > canvas {
      margin-left: -260px;
    }
  }
}

@media screen and (min-width: 320px) {
  .content,
  .wrapper {
    padding-right: calc(24px + ((8 * (100vw - 320px)) / 1120));
  }
}

@media screen and (min-width: 320px) {
  .content,
  .wrapper {
    padding-left: calc(24px + ((8 * (100vw - 320px)) / 1120));
  }
}

@media screen and (min-width: 320px) {
  .content,
  .wrapper {
    padding-bottom: calc(48px + ((16 * (100vw - 320px)) / 1120));
  }
}

.content {
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  background: rgba(0, 0, 0, 0.65);
  min-height: 100vh;
  transition: background 750ms;
  font-size: 0.95em;

  &.pre-load {
    // background: rgba(0, 0, 0, 0.15);

    &.blank {
      background: transparent;
    }
  }

  &.content-home {
    background: transparent;
  }
}

.wrapper {
  background: rgba(0, 0, 0, 0.85);
  background: linear-gradient(45deg, rgb(149, 10, 155) 0%, rgb(149, 10, 155) 9%,rgb(120, 16, 136) 9%, rgb(120, 16, 136) 13%,rgb(178, 3, 174) 13%, rgb(178, 3, 174) 32%,rgb(91, 23, 117) 32%, rgb(91, 23, 117) 42%,rgb(32, 36, 79) 42%, rgb(32, 36, 79) 46%,rgb(61, 30, 98) 46%, rgb(61, 30, 98) 70%,rgb(3, 43, 60) 70%, rgb(3, 43, 60) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;

  > canvas {
    width: auto !important;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
