.entering {
  &-home {
    > div:first-child {
      opacity: 0;
      transform: translateX(-5%);
    }

    > div:not(:first-child) {
      opacity: 0;
      transform: translateY(5%);
    }
  }

  &-technologies {
    > div:first-child {
      opacity: 0;
      transform: translateX(-5%);
    }

    > div:not(:first-child) > div > div {
      opacity: 0;
      transform: translateY(5%);
    }
  }

  &-experience {
    > div:first-child {
      opacity: 0;
      transform: translateX(-5%);
    }

    > div:not(:first-child) > div {
      opacity: 0;
      transform: translateY(5%);
    }
  }

  &-portfolio {
    > div:first-child,
    div:nth-child(2) {
      opacity: 0;
      transform: translateX(-5%);
    }

    > div:not(:first-child) > div > div {
      opacity: 0;
      transform: translateY(5%);
    }
  }

  &-notes {
    > div:first-child,
    div:nth-child(2) {
      opacity: 0;
      transform: translateX(-5%);
    }

    > div:nth-child(3) {
      opacity: 0;
      transform: translateY(50%);
    }
  }

  &-contact {
    > div:first-child {
      opacity: 0;
      transform: translateY(-5%);
    }
  }
}

.entered {
  &-home {
    > div:first-child {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }

    > div:not(:first-child) {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }
  }

  &-technologies {
    > div:first-child {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }

    > div:not(:first-child) > div > div {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }
  }

  &-experience {
    > div:first-child {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }

    > div:not(:first-child) > div {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }
  }

  &-portfolio {
    > div:first-child,
    div:nth-child(2) {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }

    > div:not(:first-child) > div > div {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }
  }

  &-notes {
    > div:first-child,
    div:nth-child(2) {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }

    > div:nth-child(3) {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }
  }

  &-contact {
    > div:first-child {
      opacity: 1;
      transition: transform 750ms ease-out, opacity 750ms ease-out;
    }
  }
}

.exiting {
  &-home,
  &-technologies,
  &-experience,
  &-portfolio,
  &-notes,
  &-contact {
    position: absolute;
    opacity: 0;
    transition: opacity 0ms;
  }
}
